@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
:root {
  --head1: #5385c1;
  --high: #0c315e;
  --accent1: #e87122ad;
  --accent2: #5385c19b;
  --grigio: #9a9a9a;
  --bianco: #f1f1f1;
  --shadow: 2px 2px 12px rgba(0, 0, 0, 0.692);
}

::-webkit-scrollbar {
  width: 10px;
  background-color: var(--accent2);
}

::-webkit-scrollbar-thumb {
  background: var(--accent1);
  border-radius: 10px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
}

html a {
  text-decoration: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

html hr {
  margin: 1rem auto;
  width: 30%;
  text-align: center;
  border: 1px solid var(--head1);
}

html li {
  list-style: none;
}

html .button {
  font-weight: 700;
  padding: .5rem 1rem;
  border: 1px solid white;
  border-radius: 3px;
  background-color: white;
  margin: 1rem;
  font-size: 14px;
  color: var(--head1);
}

html .button:hover {
  background-color: var(--head1);
  color: white;
}

html .button2 a {
  padding: .7rem 1.2rem;
  border: 1px solid var(--head1);
  border-radius: 5px;
  background-color: var(--head1);
  margin: 1rem;
  font-size: 17px;
  font-weight: 600;
  line-height: 51px;
  color: white;
}

@media only screen and (max-width: 1400px) {
  html .button2 a {
    font-size: 12px;
  }
}

@media only screen and (max-width: 800px) {
  html .button2 a {
    font-size: 17px;
  }
}

html .button2 a:hover {
  background-color: white;
  color: var(--head1);
}

/* NAV */
.landing {
  height: 100vh;
  background-image: url(../img/banner.jpg);
  background-position: center;
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
}

.landing nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 3rem;
}

.landing nav h3 {
  margin: 0 1em;
}

.landing nav h3 a {
  color: white;
  font-size: 20px;
}

.landing nav h3 a:hover {
  color: var(--head1);
}

@media only screen and (max-width: 800px) {
  .landing nav h3 {
    display: none;
  }
}

.landing nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.landing nav ul li {
  margin: auto 1em;
  list-style: none;
}

.landing nav ul li a {
  color: white;
  font-size: 15px;
}

.landing nav ul li a:hover {
  color: var(--head1);
}

@media only screen and (max-width: 800px) {
  .landing nav ul li a:hover {
    color: var(--high);
  }
}

@media only screen and (max-width: 800px) {
  .landing nav {
    position: fixed;
    bottom: 0px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    padding: .5rem 0;
    width: 90%;
    background-color: var(--head1);
    z-index: 999;
    border-radius: 20px;
  }
}

.landing .info-l {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.landing .info-l .h2small {
  color: white;
  display: none;
  font-size: 20px;
}

@media only screen and (max-width: 800px) {
  .landing .info-l .h2small {
    display: contents;
  }
}

.landing .info-l h1 {
  padding: 2rem .5em 0 .5em;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 4.5rem;
  font-size: 55px;
  color: white;
}

@media only screen and (max-width: 800px) {
  .landing .info-l h1 {
    margin: 2rem 0;
    font-size: 30px;
    padding-top: 20%;
  }
}

.landing .info-l p {
  letter-spacing: 1px;
  line-height: 2rem;
  color: white;
}

@media only screen and (max-width: 800px) {
  .landing .info-l p {
    font-size: 14px;
    line-height: 1.4rem;
  }
}

.landing .icons-l {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.landing .icons-l li {
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  font-size: 40px;
  margin: 2.5rem 1.5rem 0 0;
}

.landing .icons-l li a {
  font-size: 35px;
  color: white;
}

.landing .icons-l li a:hover {
  color: var(--head1);
}

.landing .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem;
  padding: 1rem;
}

/* Samples */
#samples .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin: 1rem 0 5rem 0;
}

#samples .header h2 {
  font-weight: 300;
  font-size: 48px;
  line-height: 72px;
  color: var(--head1);
}

#samples .header p {
  font-weight: 700;
  line-height: 29px;
  font-size: 17px;
}

#samples .container {
  padding: 0 3rem;
}

@media only screen and (max-width: 800px) {
  #samples .container {
    padding: 0;
  }
}

#samples .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 5rem;
}

@media only screen and (max-width: 800px) {
  #samples .container .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
}

#samples .container .row .card {
  border-radius: 20px;
  border-top: 1px var(--grigio) solid;
  border-bottom: 1px var(--grigio) solid;
  width: 70%;
  margin: 2rem 1rem;
}

@media only screen and (max-width: 1400px) {
  #samples .container .row .card {
    text-align: center;
    margin: 2rem .3rem;
  }
}

@media only screen and (max-width: 800px) {
  #samples .container .row .card {
    margin: 2rem auto;
  }
}

#samples .container .row .card .card-title h3 {
  padding: 1rem;
  font-weight: 300;
  font-size: 23px;
  color: var(--head1);
}

#samples .container .row .card .image-sample img {
  width: 80%;
  padding: 1rem;
}

@media only screen and (max-width: 1400px) {
  #samples .container .row .card .image-sample img {
    width: 50%;
  }
}

@media only screen and (max-width: 800px) {
  #samples .container .row .card .image-sample img {
    width: 100%;
  }
}

#samples .container .row .card p {
  padding: 1rem;
  font-weight: 300;
  color: var(--grigio);
  font-size: 17px;
  line-height: 29px;
}

#samples .container .row .card-footer {
  padding: 1rem;
}

/* 3D */
#art {
  background: linear-gradient(-45deg, #E19D5D, rgba(255, 255, 255, 0.493), #1461FB);
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  height: 100vh;
}

#art ::-webkit-scrollbar {
  width: 0px;
}

#art .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin: 0rem 0 5rem 0;
}

#art .header h2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
  color: black;
  margin: 3rem 0 0 0;
}

#art .header p {
  font-weight: 700;
  line-height: 29px;
  font-size: 17px;
}

#art .row-art {
  overflow: scroll;
  overflow-x: hidden;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 3rem;
}

@media only screen and (max-width: 800px) {
  #art .row-art {
    -webkit-box-shadow: var(--shadow);
            box-shadow: var(--shadow);
  }
}

#art .row-art .column-art {
  -webkit-box-flex: 33%;
      -ms-flex: 33%;
          flex: 33%;
  max-width: 33%;
  padding: 0 4px;
}

#art .row-art .column-art img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  border-radius: 3px;
}

@media only screen and (max-width: 800px) {
  #art .row-art .column-art {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    max-width: 100%;
    padding: 2rem;
  }
}

/* Websites */
#websites .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin: 0 0 5rem 0;
}

#websites .header h2 {
  font-weight: 300;
  font-size: 48px;
  line-height: 72px;
  color: var(--head1);
  margin: 3rem 0 0 0;
}

#websites .header p {
  font-weight: 700;
  line-height: 29px;
  font-size: 17px;
}

#websites .sites {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0 2rem;
}

@media only screen and (max-width: 1400px) {
  #websites .sites {
    padding: 0 .5rem;
  }
}

#websites .sites .card-s {
  padding: .5rem;
  border-top: 1px solid var(--grigio);
  border-bottom: 1px solid var(--grigio);
  border-radius: 20px;
  margin: 2rem;
}

@media only screen and (max-width: 1400px) {
  #websites .sites .card-s {
    margin: 1rem;
  }
}

#websites .sites .card-s img {
  width: 100%;
}

@media only screen and (max-width: 1400px) {
  #websites .sites .card-s img {
    width: 80%;
  }
}

@media only screen and (max-width: 800px) {
  #websites .sites .card-s img {
    width: 100%;
  }
}

#websites .sites h3 {
  margin: .5rem 1rem;
  font-weight: 300;
  font-size: 23px;
  line-height: 35px;
  color: var(--head1);
}

@media only screen and (max-width: 1400px) {
  #websites .sites h3 {
    font-size: 19px;
    width: 50%;
  }
}

#websites .sites p {
  margin: .5rem 1rem;
  font-weight: 300;
  font-size: 17px;
  line-height: 29px;
  color: var(--grigio);
}

@media only screen and (max-width: 1400px) {
  #websites .sites p {
    font-size: 14px;
  }
}

/* Videos */
#videos {
  background: linear-gradient(-45deg, #E19D5D, rgba(255, 255, 255, 0.493), #1461FB);
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  height: 100%;
}

#videos .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin: 0 0 5rem 0;
}

#videos .header h2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
  color: black;
  margin: 3rem 0 0 0;
}

#videos .header p {
  font-weight: 700;
  line-height: 29px;
  font-size: 17px;
}

#videos .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#videos .container iframe {
  margin: 3rem;
  border-top: 1px solid var(--grigio);
  border-bottom: 1px solid var(--grigio);
  border-radius: 20px;
  padding: 1rem;
}

/* footer */
footer {
  text-align: center;
  padding: 1rem;
}

footer p {
  color: var(--grigio);
}

@media only screen and (max-width: 800px) {
  footer p {
    margin-bottom: 2rem;
    font-size: 12px;
  }
}

/* ABOUT ME html */
/* NAV AB */
.landing-ab {
  height: 100vh;
  background-image: url(../img/banner2.jpg);
  background-position: center;
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
}

.landing-ab nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 3rem;
}

.landing-ab nav h3 {
  margin: 0 1em;
}

.landing-ab nav h3 a {
  color: white;
  font-size: 20px;
}

.landing-ab nav h3 a:hover {
  color: var(--head1);
}

@media only screen and (max-width: 800px) {
  .landing-ab nav h3 {
    display: none;
  }
}

.landing-ab nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.landing-ab nav ul li {
  margin: auto 1em;
  list-style: none;
}

.landing-ab nav ul li a {
  color: white;
  font-size: 15px;
}

.landing-ab nav ul li a:hover {
  color: var(--head1);
}

@media only screen and (max-width: 800px) {
  .landing-ab nav ul li a:hover {
    color: var(--high);
  }
}

@media only screen and (max-width: 800px) {
  .landing-ab nav {
    position: fixed;
    bottom: 0px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    padding: .5rem 0;
    width: 90%;
    background-color: var(--head1);
    z-index: 999;
    border-radius: 20px;
  }
}

.landing-ab .info-ab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.landing-ab .info-ab .h2small {
  color: white;
  display: none;
  font-size: 20px;
}

@media only screen and (max-width: 800px) {
  .landing-ab .info-ab .h2small {
    display: contents;
  }
}

.landing-ab .info-ab h1 {
  padding: 2rem .5em 0 .5em;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 4.5rem;
  font-size: 55px;
  color: white;
}

@media only screen and (max-width: 800px) {
  .landing-ab .info-ab h1 {
    margin: 2rem 0;
    font-size: 30px;
    padding-top: 20%;
  }
}

.landing-ab .info-ab p {
  letter-spacing: 1px;
  line-height: 2rem;
  color: white;
}

@media only screen and (max-width: 800px) {
  .landing-ab .info-ab p {
    font-size: 14px;
    line-height: 1.4rem;
  }
}

.landing-ab .icons-l {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.landing-ab .icons-l li {
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  font-size: 40px;
  margin: 2.5rem 1.5rem 0 0;
}

.landing-ab .icons-l li a {
  font-size: 35px;
  color: white;
}

.landing-ab .icons-l li a:hover {
  color: var(--head1);
}

.landing-ab .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem;
  padding: 1rem;
}

/* ObserverJS */
.anim {
  opacity: 0;
}

.animup {
  opacity: 0;
}

.animright {
  opacity: 0;
}

.animation {
  opacity: 0;
}

@-webkit-keyframes anim1 {
  from {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes anim1 {
  from {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes animup {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes animup {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes animright {
  from {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes animright {
  from {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

/* Back to top*/
#back2Top {
  width: 40px;
  line-height: 40px;
  overflow: hidden;
  z-index: 999;
  display: none;
  cursor: pointer;
  position: fixed;
  bottom: 50px;
  right: 5px;
  background-color: white;
  color: black;
  text-align: center;
  font-size: 20px;
  border-radius: 50%;
  -webkit-box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.116);
          box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.116);
  text-decoration: none;
  z-index: 999;
  border: 1px solid var(--head1);
}

#back2Top:hover {
  background-color: #4278b8 !important;
  color: white !important;
}
/*# sourceMappingURL=main.css.map */